<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Assessment | BOC-NAIA</title>
</head>

<body>

    <h1>BOC-NAIA Operations System</h1>

    <h2>Create Assessment</h2>

    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Save Assessment
        </button>

    </form>

    <br>

    <a href="{% url 'assessment_list' %}">
        Back to Assessments
    </a>

</body>

</html>