<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add Passenger | BOC-NAIA</title>
</head>

<body>

    <h1>BOC-NAIA Operations System</h1>

    {% if passenger %}
        <h2>Edit Passenger</h2>
    {% else %}
        <h2>Register Passenger</h2>
    {% endif %}

    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        {% if passenger %}
            <button type="submit">
                Save Changes
            </button>
        {% else %}
            <button type="submit">
                Save Passenger
            </button>
        {% endif %}

    </form>

    <br>

    <a href="{% url 'passenger_list' %}">
        Back to Passenger List
    </a>

</body>
</html>