<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Payment | BOC-NAIA System</title>
</head>
<body>

    {% if payment %}
        <h1>Edit Payment</h1>
    {% else %}
        <h1>Add Payment</h1>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        {% if payment %}
            <button type="submit">
                Save Changes
            </button>
        {% else %}
            <button type="submit">
                Save Payment
            </button>
        {% endif %}
    </form>

    <p>
        <a href="{% url 'payment_list' %}">
            Cancel
        </a>
    </p>

</body>
</html>